{% extends 'base.html' %}
{% block title %}Теория по логорифмам{% endblock %}
{% block lenta %}
  <h2 id="log-theory-h2">Теория</h2>log<sub>a</sub>b = c ⇔ a<sup>c</sup> = b<br>lg b ⇔ log<sub>10</sub>b - десятичный логарифм<br>ln b ⇔ log<sub>e</sub>b - натуральный логарифм e = 2,7 (Число Эйлера)<h2 id="log-examples-h2">Примеры</h2><br>log<sub>2</sub>4 ⇔ 2<sup>x</sup> = 4 Отвeт: 2.<br>log<sub>2</sub>0,25 ⇔ 2<sup>x</sup> = 0,25 Отвeт: -2.<br>log<sub>7</sub>1 ⇔ 7<sup>x</sup> = 1 Отвeт: 0.<br>lg 100 ⇔ 10<sup>x</sup> = 100 Отвeт: 2.<br>ln 1 ⇔ e<sup>x</sup> = 1 Отвeт: 0.<h2 id="formulas-Logarithms-h2">Свойства логарифмов</h2><img src="/static/Imgs/Screenshot_23.png" class="img-formulas-trigonometry"><br>
{% endblock %}