{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
<!--    <meta http-equiv="content-type" content="text/html; charset=windows-1251">-->
    <meta charset="UTF-8">
  <title>{% block title %}Главная{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'Styles.css' %}">
    <script src="{% static 'Functions.js' %}"></script>
    <script src="{% static 'Theory.js' %}"></script>
</head>
<body>
<!--
    <div class="header">
            <div class="inner-header">
             <img src="/static/Imgs/Лого.png" style="margin-left:30px;margin-right: 60px; user-select: none; float: left;"> 
                <div id="profile" style="float: right;width: 20%;height: 100px;padding-top: 20px;text-align: center;z-index: 100;">
                   
                    <a href="" class="link-registration" style="color:#cccccc;">Войти</a>
                    <a href="" class="link-registration" style="color: #2a2828;background:#c46a2e;">Регистрация</a>
                    
                </div>
            </div>
          </div>
-->
              
  <div id="wrapper">  
            <script>PageFixing();</script>
            <div id="header">
                <img src="/static/Imgs/Лого.png" style="user-select: none; float: left; width: 10%"> 

                <ol class="clear_margin ol-sidebar" style="float: left;padding-left: 10%; margin-top: 15px;font-family:"System";width: 70%;">
                    <li><a class="sidebar-buttons" href="{%  url 'News' %}">Новости</a></li>
                    <li><a class="sidebar-buttons" href="{%  url 'TheoryMain' %}">Теория</a></li>
                    <li><a class="sidebar-buttons">Тренировка</a></li>
                    <li><a class="sidebar-buttons">Полезное</a></li>
                </ol>                                                      

                <div id="profile" style="float: right;width: 20%;height: 100px;padding-top: 15px;text-align: center;z-index: 100;">       
                    <a href="" class="link-registration" style="color:#cccccc;">Войти</a>
                    <a href="" class="link-registration" style="color: #2a2828;background:#c46a2e;">Регистрация</a>            
                </div>                                                                                                                                 
            </div>
            
            <div id="content">                                                                                        
                <div id="lenta">
                    <div id="inner-lenta"> 
                      {% block lenta %}<h3>Страница не прогрузилась...</h3>{% endblock %}                                           
                    </div>
                </div>  
            </div>         
  </div>
  
  
<!--
 <div class="footer">
            <div class="inner-footer"></div>
 </div>
-->
 
<!-- <div id="up" onclick="page_up();">↑</div>-->
    <div id="widgets"><img src="{% static 'Imgs/Calculator.png' %}" alt="" id="img-calculator" onclick="load_сalculator()"><img src="{% static 'Imgs/Paint-paper.png' %}" alt="" id="img-paint-paper"  onclick="load_paint_paper()"></div>



{% block functions %}{% endblock %}

</body>
</html>


